# Bronze Congig

bronze:
  orders:
    catalog: brazillian_e_commerce
    source_schema: source
    target_schema: bronze
    table_name: bronze_orders
    source_table: orders
    load_type: incremental
    watermark_column: order_purchase_timestamp

  order_items:
    catalog: brazillian_e_commerce
    source_schema: source
    target_schema: bronze
    table_name: bronze_order_items
    source_table: order_items
    load_type: incremental
    watermark_column: shipping_limit_date

  products:
    catalog: brazillian_e_commerce
    source_schema: source
    target_schema: bronze
    table_name: bronze_products
    source_table: products
    load_type: full

  customers:
    catalog: brazillian_e_commerce
    source_schema: source
    target_schema: bronze
    table_name: bronze_customers
    source_table: customers
    load_type: full

  sellers:
    catalog: brazillian_e_commerce
    source_schema: source
    target_schema: bronze
    table_name: bronze_sellers
    source_table: sellers
    load_type: full

  reviews:
    catalog: brazillian_e_commerce
    source_schema: source
    target_schema: bronze
    table_name: bronze_reviews
    source_table: reviews
    load_type: incremental
    watermark_column: review_creation_date

  payments:
    catalog: brazillian_e_commerce
    source_schema: source
    target_schema: bronze
    table_name: bronze_payments
    source_table: payments
    load_type: full


# Silver Config


silver:
  orders:
    catalog: brazillian_e_commerce
    source_schema: bronze
    target_schema: silver
    table_name: silver_orders
    source_table: bronze_orders

    casts:
      order_purchase_timestamp: timestamp
      order_delivered_carrier_date: timestamp
      order_estimated_delivery_date: timestamp

    clean_rules:
      rename:
        order_purchase_timestamp: order_purchase_ts
        order_delivered_carrier_date: order_delivered_ts
        order_estimated_delivery_date: order_estimated_delivery_ts
      drop_nulls:
        - order_id
        - customer_id

  order_items:
    catalog: brazillian_e_commerce
    source_schema: bronze
    target_schema: silver
    table_name: silver_order_items
    source_table: bronze_order_items

  products:
    catalog: brazillian_e_commerce
    source_schema: bronze
    target_schema: silver
    table_name: silver_products
    source_table: bronze_products

  customers:
    catalog: brazillian_e_commerce
    source_schema: bronze
    target_schema: silver
    table_name: silver_customers
    source_table: bronze_customers

  sellers:
    catalog: brazillian_e_commerce
    source_schema: bronze
    target_schema: silver
    table_name: silver_sellers
    source_table: bronze_sellers

  reviews:
    catalog: brazillian_e_commerce
    source_schema: bronze
    target_schema: silver
    table_name: silver_reviews
    source_table: bronze_reviews

  payments:
    catalog: brazillian_e_commerce
    source_schema: bronze
    target_schema: silver
    table_name: silver_payments
    source_table: bronze_payments

    casts:
      payment_sequential: int
      payment_installments: int
      payment_value: double

    clean_rules:
      drop_nulls:
        - order_id
        - payment_type
        - payment_value



# Gold Config


gold:
  dim_customers:
    type: dim
    catalog: brazillian_e_commerce
    source_schema: silver
    target_schema: gold
    table_name: dim_customers
    source_tables:
      customers: silver_customers
    grain: customer

  dim_products:
    type: dim
    catalog: brazillian_e_commerce
    source_schema: silver
    target_schema: gold
    table_name: dim_products
    source_tables:
      products: silver_products
    grain: product

  dim_sellers:
    type: dim
    catalog: brazillian_e_commerce
    source_schema: silver
    target_schema: gold
    table_name: dim_sellers
    source_tables:
      sellers: silver_sellers
    grain: seller

  dim_date:
    type: dim
    catalog: brazillian_e_commerce
    source_schema: silver
    target_schema: gold
    table_name: dim_date
    source_tables:
      orders: silver_orders
    grain: date

  fact_orders:
    type: fact
    catalog: brazillian_e_commerce
    source_schema: silver
    target_schema: gold
    table_name: fact_orders
    source_tables:
      orders: silver_orders
    grain: order

  fact_sales:
    type: fact
    catalog: brazillian_e_commerce
    source_schema: silver
    target_schema: gold
    table_name: fact_sales
    source_tables:
      order_items: silver_order_items
      orders: silver_orders
    grain: order_item

  fact_reviews:
    type: fact
    catalog: brazillian_e_commerce
    source_schema: silver
    target_schema: gold
    table_name: fact_reviews
    source_tables:
      reviews: silver_reviews
    grain: order

  fact_payments:
    type: fact
    catalog: brazillian_e_commerce
    source_schema: silver
    target_schema: gold
    table_name: fact_payments
    source_tables:
      payments: silver_payments
    grain: payment




# Final Config:

mart:

  sales_performance:
    business_requirement: BR-1
    catalog: brazillian_e_commerce
    source_schema: gold
    target_schema: final
    table_name: sales_performance
    source_tables:
      fact_sales: fact_sales
      fact_orders: fact_orders
      dim_products: dim_products
      dim_date: dim_date
    grain: day_product

  order_delivery_summary:
    business_requirement: BR-2
    catalog: brazillian_e_commerce
    source_schema: gold
    target_schema: final
    table_name: order_delivery_summary
    source_tables:
      fact_orders: fact_orders
      dim_date: dim_date
    grain: day_status

  customer_analytics:
    business_requirement: BR-3
    catalog: brazillian_e_commerce
    source_schema: gold
    target_schema: final
    table_name: customer_analytics
    source_tables:
      fact_orders: fact_orders
      fact_sales: fact_sales
      dim_customers: dim_customers
      dim_date: dim_date
    grain: customer

  seller_performance:
    business_requirement: BR-4
    catalog: brazillian_e_commerce
    source_schema: gold
    target_schema: final
    table_name: seller_performance
    source_tables:
      fact_sales: fact_sales
      fact_orders: fact_orders
      fact_reviews: fact_reviews
      dim_sellers: dim_sellers
      dim_date: dim_date
    grain: seller

  product_category_performance:
    business_requirement: BR-5
    catalog: brazillian_e_commerce
    source_schema: gold
    target_schema: final
    table_name: product_category_performance
    source_tables:
      fact_sales: fact_sales
      fact_orders: fact_orders
      dim_products: dim_products
      dim_date: dim_date
    grain: product_category

  payment_analytics:
    business_requirement: BR-6
    catalog: brazillian_e_commerce
    source_schema: gold
    target_schema: final
    table_name: payment_analysis
    source_tables:
      fact_payments: fact_payments
      fact_orders: fact_orders
      dim_date: dim_date
    grain: day_payment_type

  customer_satisfaction_and_reviews:
    business_requirement: BR-7
    catalog: brazillian_e_commerce
    source_schema: gold
    target_schema: final
    table_name: review_satisfaction
    source_tables:
      fact_reviews: fact_reviews
      fact_orders: fact_orders
      fact_sales: fact_sales
      dim_products: dim_products
      dim_date: dim_date
    grain: customer_satisfaction_and_reviews
