# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/

# Spark / Databricks
.metastore_db/
spark-warehouse/
*.log

# OS
.DS_Store
Thumbs.db

# Build artifacts
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
